@font-face {
  font-family: 'Fipps-Regular';
  src: url(../resources/Fipps-Regular.otf) format("opentype");
}

html,
body {
  margin: 0;
}

body {
  padding: 8px;
}

footer {
  text-align: right;
}

.loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #000;
  z-index: 99;
  text-align: center;
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.pixel-font {
  font-family: 'Fipps-Regular';
}

.text-center {
  text-align: center;
}

.container-center {
  width: 100%;
  text-align: center;
}

.container-padding-32px {
  padding: 32px;
  box-sizing: border-box;
}

.container-video {
  width: auto;
}

.container-width-fluid {
  width: 100%;
}

@media (max-width: 600px) {
  .container-video {
    width: 100%;
  }
}